.messageBox {
  margin: 0 auto;
  max-width: 768px;
  width: fit-content;
  font-family: 'Annie Use Your Telescope', cursive;
  --border-width: 0;
  --border-timeout: 0;

  &:after {
    content: '';
    width: var(--border-width);
    height: 2px;
    margin-top: 0.75em;
    background-color: white;
    display: block;
    transition: width var(--border-timeout);
  }
}
